body{
  background: "C:/Users/Пользователь/djangogirls/blog/templates/blog" repeat-x;
  background-attachment: fixed;
}

.text_container {
  outline-width: 3px;
  outline-style: solid;
  outline-color: #001428;
}

.image_container {
  outline-width: 3px;
  outline-style: solid;
  outline-color: #001428;
}

.image {
  height: 370px;
}

.buttons_block {
  float: right;
}

.buttons {
  outline-width: 3px;
  outline-style: solid;
  outline-color: #001428;
}

.left_btn {
  float: left;
}

.right_btn {
  float: right;
}

.middle_btn {
  float: middle;
}

.page-header {
        background-color: #1b0033;
        margin-top: 0px;
        padding: 1px 10px 1px 10px;
    }

    .page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
        color: #ffffff;
        font-size: 30pt;
        text-decoration: none;
    }

    .content {
        margin-left: 40px;
    }

    h1, h3, h4 {
        /*font-family: 'Lobster', cursive; */
        /*font-family: 'Shrikhand', cursive; */
        /*font-family: 'Audiowide', cursive; */
        /*font-family: 'Press Start 2P', cursive;*/
    }

    h2 {
      /*font-family: 'Audiowide', cursive;
      font-family: 'Orbitron', sans-serif;*/
    }

    .date {
        float: right;
        color: #A3A3A3;
    }

    .save {
        float: right;
    }

    .post-form textarea, .post-form input {
        width: 100%;
    }

    .top-menu, .top-menu:hover, .top-menu:visited {
        color: #ffffff;
        float: right;
        font-size: 26pt;
        margin-right: 20px;
    }

    .post {
        margin-bottom: 70px;
    }

    .post h2 a, .post h2 a:visited {
        color: #000000;
    }

    .pt {
      color: red;
    }
